<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="col-md-12">Name Product</label>
        <input type="text" class="form-control" formControlName="name" #name/>
      </div>
      <div class="form-group">
        <label class="col-md-12">Price Product</label>
        <input type="email" class="form-control" formControlName="email" #email/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Add Data</button>
      </div>
    </form>
  </div>
</div>
